@using Model.EF
@foreach (練習Ｂ_Table Item in Model)
{
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <button class="btn btn-sm btn-primary" disabled id="btn12px">12px</button>
            <button class="btn btn-sm btn-primary" id="btn14px">14px</button>
            <button class="btn btn-sm btn-primary" id="btn16px">16px</button>
            <button class="btn btn-sm btn-primary" id="showHint">ベトナム語</button>
            <br />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 changePx formatFont12px">
            @Html.Raw(Item.練習ＢAnswer)
        </div>
        <div class="col-md-6 bg-success showHint formatFont12px">
            @Html.Raw(Item.練習BVietnamese)
        </div>
    </div>

}
<script src="~/Assets/Client/MinnanoNihongoPage/ChangePxTool.js"></script>
