@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Home/_HomeLayout.cshtml";
}

<div id="homePage" class="formatFont14px">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">かなと拍</div>
                <div class="panel-body">
                    <img src="~/img/bg/bgTest1.jpg" class="img-responsive" />
                </div>
                <div class="panel-footer"><a href="/Home/かなとはく" class="btn btn-block btn-primary">Go!</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">みんなの　日本語</div>
                <div class="panel-body"><img src="~/img/bg/bgTest2.jpg" class="img-responsive" /></div>
                <div class="panel-footer"><a href="/JpIndex/Index" class="btn btn-block btn-primary">Go!</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">漢字</div>
                <div class="panel-body"><img src="~/img/bg/bgTest3.jpg" class="img-responsive" /></div>
                <div class="panel-footer"><a href="/漢字/Index" class="btn btn-block btn-primary">Go!</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">動詞</div>
                <div class="panel-body"><img src="~/img/bg/bgTest4.jpg" class="img-responsive" /></div>
                <div class="panel-footer"><a href="/動詞/Index" class="btn btn-block btn-primary">Go!</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <img class="img-responsive" src="~/img/bg/midleBg.png" />
    </div>
</div>