<button class="btn btn-sm btn-primary" formaction="@Url.Action("Insert")">
    <span class="glyphicon glyphicon-plus"></span> Insert
</button>
<button class="btn btn-sm btn-warning"  formaction="@Url.Action("Update")">
    <span class="glyphicon glyphicon-save"></span> Update
</button>
<button class="btn btn-sm btn-danger" disabled formaction="@Url.Action("Delete")">
    <span class="glyphicon glyphicon-trash"></span> Delete
</button>
<button class="btn btn-sm btn-info" formaction="@Url.Action("Index")">
    <span class="glyphicon glyphicon-refresh"></span> Reset
</button>